h1{
    color: darkred;
}

h2{
    color: darkgreen;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h2.alternative{
    color: deepskyblue;
    margin-bottom: 100px;
}

h2.alternative_pair{
    color: blue;
    text-transform: none;
}

img.about{
    width: 180px;
}

img.info{
    width: 450px;
}